::placeholder {
  justify-content: center;
  text-align: center;
  color: white; }

input:focus::placeholder {
  color: transparent;
  transition: all 0.4s ease-out; }

textarea:focus::placeholder {
  color: transparent;
  transition: all 0.4s ease-out; }

::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: rgba(73, 73, 73, 0.8); }

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(114, 159, 237, 0.9); }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(114, 159, 237, 0.9); }

.bookCase {
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: rgba(73, 73, 73, 0.8);
  margin-top: 2vh;
  width: fit-content;
  justify-content: center;
  border-radius: 10px; }
  .bookCase .book {
    padding: 0;
    margin-left: 3vh;
    margin-right: 3vh;
    line-height: 8vh;
    width: 15vh;
    border-radius: 10px; }
    .bookCase .book img {
      width: 13vh;
      height: 19vh; }
    .bookCase .book h3 {
      margin: 0;
      padding: 0;
      font-size: 18px; }
    .bookCase .book #avg {
      margin: auto;
      padding: 0;
      height: 6vh;
      width: 6vh; }
    .bookCase .book :hover h3 {
      transition: all 0.4s ease-out;
      transform: scale(1.1); }
    .bookCase .book :hover img {
      transition: all 0.4s ease-out;
      transform: scale(1.2); }

.searchBar {
  margin-top: 5vh; }
  .searchBar input[type=text] {
    font-size: 28px;
    border: 0;
    background-color: rgba(73, 73, 73, 0.8);
    color: white;
    text-align: center; }
