@import 'config';

.commentArea {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: rgba(lighten($primary-color, 2), 0.8);
    margin-top: 4vh;
    width: fit-content;
    border-radius: 10px;
    overflow: auto;
    height: 18vh;

    .comment {
        padding: 0;
        margin-left: 2vh;
        margin-right: 2vh;
        line-height: 5vh;
        width: 100%;
        border-radius: 10px;

        #comment {
            display: inline-flex;
            margin: 0;
            padding: 0;
            font-size: 18px;
            margin-left: 4%;
        }

        #author {
            display: inline-flex;
            color: $secondary-color;
            margin: 0;
            padding: 0;
            font-size: 14px;
        }

        #rating {
            display: inline-flex;
            color: $secondary-color;
            margin: 0;
            padding: 0;
            font-size: 20px;
            margin-left: 4%;
        }
    }
}

.leaveComment {
    width: 80%;
    margin: auto;
    margin-top: 2vh;

    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    textarea {
        line-height: 1vh;
        margin-left: 1vh;
        margin-right: 1vh;
        padding: 1vh;
        padding-top: 2vh;
        outline: none;
        background-color: rgba(lighten($primary-color, 2), 0.8);
        border-radius: 8px;
        color: white;
        width: 40%;
        font-size: 16px;
        text-align: center;
    }

    ::placeholder {
        justify-content: center;
        text-align: center;
        color: white;
    }

    select {
        width: 15%;
        margin-left: 1vh;
        margin-right: 1vh;
        padding-left: 0.5vh;
        border: none;
        background-color: rgba(lighten($primary-color, 2), 0.8);
        color: white;
        font-size: 20px;
        border-radius: 8px;
        outline: none;
        cursor: pointer;
    }

    select.decorated option:hover {
        box-shadow: 0 0 10px 100px rgba(lighten($secondary-color, 2), 0.9);
    }

    input[type=submit] {
        border: none;
        outline: none;
        border-radius: 8px;
        margin-left: 1vh;
        margin-right: 1vh;
        width: 25%;
        color: white;
        font-size: 20px;
        background-color: rgba(lighten($secondary-color, 2), 0.9);
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: rgba(lighten($secondary-color, 2), 1);
        @include easeO();
    }
}
