$primary-color: #444;
$secondary-color: #6999ec;
$show-home-image: true;
$home-img: url(../img/bg.jpg);
$bg-opacity: 0.5;

@mixin easeO {
    transition: all 0.4s ease-out;
}

@mixin bg {
    
    &#bg-img {
        background: $home-img;
        background-attachment: fixed;
        background-size: cover;

        &:after {
            content: '';
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: rgba($primary-color, $bg-opacity);
        }
    }
    
}

@mixin medSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin medMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin medLg {
    @media screen and (max-width: 1135px) {
        @content;
    }
}

@mixin medXl {
    @media screen and (min-width: 1136px) {
        @content;
    }
}

::placeholder {
    justify-content: center;
    text-align: center;
    color: white;
}

input:focus::placeholder {
    color: transparent;
    @include easeO();
}
textarea:focus::placeholder {
    color: transparent;
    @include easeO();
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(lighten($primary-color, 2), 0.8);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(lighten($secondary-color, 2), 0.9);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(lighten($secondary-color, 2), 0.9);
  } 