@import 'config';
@import 'menu';
@import 'bookCase';
@import 'mobile';
@import 'comments';

* {
    box-sizing: border-box;
}

body {
    @include bg;
    background-color: $primary-color;
    color: white;
    height: 100%;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.title {
        width: fit-content;
        border-bottom: 2px solid $secondary-color;
        font-size: 34px;
    }

    &.lg-heading {
        font-size: 4rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        border-radius: 10px;
        //background: rgba(lighten($primary-color, 2), 0.4);
    }
}

a {
    color: white;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    height: 100%;

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.5rem;

            &:hover {
                color: $secondary-color;
                @include easeO();
            }
        }
    }

    &#home {
        overflow: hidden;
        text-align: center;
        align-items: center;

        h1 {
            margin-top: 10vh;
        }
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: rgba(lighten($primary-color, 2), 0.4);
    color: white;
    text-align: center;
    align-items: center;
}