@import 'config';

.menu-btn {
    position: absolute;
    z-index: 3;
    left: 35px;
    top: 35px;
    cursor: pointer;
    @include easeO;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: white;
        @include easeO;
    }

    &.close {
        transform: rotate(180deg);

        .btn-line {
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.8;
    visibility: hidden;

    &.show {
        visibility: visible;
    }

    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        list-style: none;
        float: left;
        width: 50%;
        height: 10vh;
        overflow: hidden;
    }

    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 3);
        transform: translate3d(0, -100%, 0);
        @include easeO;

        &.show {
            transform: translate3d(0,0,0);
        }

        .nav-item {
            transform: translate3d(600px, 0, 0);
            @include easeO;
    
            &.show {
                transform: translate3d(0,0,0);
            }

            &.current > .nav-link::before {
                visibility: visible;
                transform: scaleX(1);
            }

            &:hover {
                .nav-link::before {
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
        }
    }

    &-branding {
        background: $primary-color;
        transform: translate3d(0, -100%, 0);
        @include easeO;
        
        &.show {
            transform: translate3d(0,0,0);
        }

        .nav-item {
            transform: translate3d(-600px, 0, 0);
            @include easeO;
    
            &.show {
                transform: translate3d(0,0,0);
            }
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 20px;
        text-transform: uppercase;
        margin: 3rem;
        font-weight: 200;
        color: white;
        text-decoration: none;
        @include easeO;
    }

    .nav-link::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $secondary-color;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }
}


@for $x from 0 through 3 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.04s;
    }
}