@include medXl {

}

@include medLg {
    .bookCase {
        overflow: auto;
        height: auto;
    }
    
}

@include medMd {
    main {
        align-items: center;
        text-align: center;
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav {
        height: 80vh;
        transform: translate3d(-100%,0,0);
        font-size: 20px;
    }

    .menu-branding {
        height: 20vh;
        transform: translate3d(100%,0,0);
    }
}

@include medSm {
    #home {
        position: absolute;
        padding: 2rem;
    }

    .lg-heading,
    .sm-heading {
        display: none;
    }

    .bookCase {
        .book {
            line-height: 15vh;
            width: 30vh;
            #avg {
                width: auto;
            }
        }
    }

    .searchBar {
        margin-top: 10vh;
    
        input[type=text] {
            font-size: 20px;
        }
    }

    .comment {
        #author {
            font-size: 10px;
        }
        #comment {
            font-size: 12px;
        }
        #rating {
            font-size: 14px;
        }
    }

    .leaveComment {
        textarea {
            width: 100%;
        }
        select {
            width: 100%;
        }
        input[type=submit] {
            width: 100%;
        }
    }

    .icons {
        font-size: 10px;
        margin-top: 6px;
    }
}