@include medXl {

}

@include medLg {
    
}

@include medMd {
    main {
        align-items: center;
        text-align: center;
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav {
        height: 80vh;
        transform: translate3d(-100%,0,0);
        font-size: 20px;
    }

    .menu-branding {
        height: 20vh;
        transform: translate3d(100%,0,0);
    }
}

@include medSm {
    
}